html {
  width: 100%;
  height: 100%;
}

.mainhead {
  border: 2px solid black;
  width: 210px;
  height: 100px;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.menu {
  border: 2px solid black;
  width: 440px;
  position: absolute;
  top: 10px;
  left: 250px;
  margin: 1%;
}

.home {
  border: 1px solid black;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 35px;
  margin: 1%;
}

.about {
  border: 1px solid black;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 80px;
  margin: 1%;
}

.work {
  border: 1px solid black;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 160px;
  margin: 1%;
}

.contact {
  border: 1px solid black;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 240px;
  margin: 1%;
}

.equipment {
  border: 1px solid black;
  width: 110px;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 320px;
  margin: 1%;
}

.home:hover, .about:hover, .work:hover, .contact:hover, .equipment:hover {
  cursor: pointer;
  box-shadow: 2px 2px;
}

.bottomspacer {
  border: 2px solid black;
  width: 440px;
  position: absolute;
  top: 105px;
  left: 250px;
  margin: 1%;
}

.sidespacer {
  border: 2px solid black;
  width: 0;
  height: 90px;
  position: absolute;
  top: 12px;
  left: 700px;
  margin: 1%;
}

.shortbio {
  
}

#waveform-container {
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
}

.play-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.play-btn:hover {
  cursor:pointer;
}

.waveform {
    width: 100%;
}

